*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(86, 201, 216);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    color: purple;
    border-radius: 0.500rem;
    margin-bottom: 50px;
}

.section{
    display: flex;
    width: 100vw;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70%;
    background-color: beige;
    border-radius: 0.700rem;
}

.title{
    margin: 10px;
}

.formulario-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label{
    display: block;
}
.input{
    width: 280px;
    border-radius: 0.600rem;
    padding: 3px;
}
.button{
    margin: 10px;
}
button{
    color: purple;
    font-weight: bold;
    background-color: rgb(230, 148, 230);
    border-radius: 1rem;
    padding: 10px;
}

.segundo{
    margin-top: 7px;
}
.tercero{
    margin-top: 7px;
}

.start-form{
    padding: 5px;
}

.second-form{
    height: 100%;
    padding: 5px;
    border-right: 2px solid black;
}
